<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="iniciarSesion()">

                <div class="mt-5">
                    <h3>Ingresar</h3>
                    <div class="mt-5">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="Usuario" placeholder="Usuario" required>
                            <span class="danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="Password" placeholder="Contraseña" required>
                            <span class="danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                        </div>
                        <button [disabled]="miFormulario.invalid || loading" type="submit" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Iniciar
                        </button>

                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{this.error}}</div>
                    </div>
                </div>
            </form>
            <div class="form-group m-b-0">
                <div class="col-sm-12 text-center">
                    No tenés usuario?
                    <a class="waves-effect waves-dark" (click)="registrar()" aria-expanded="false">Solicitar usuario</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->