<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="iniciarSesion()">

                <div class="mt-5">
                    <h1>Ingresar</h1>
                    <div class="mt-5">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="Usuario" placeholder="Usuario">
                            <span class="danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="Password" placeholder="Contraseña">
                            <span class="danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                        </div>
                        <button [disabled]="miFormulario.invalid" type="submit" class="btn btn-primary">Iniciar</button>

                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{this.error}}</div>
                    </div>
                </div>
            </form>
            <div class="mt-3">
                <a href="#">Solicitar usuario</a>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->