<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="verCaptcha()">
                <div class="mt-5">
                    <h3>Solicitud de usuario</h3>
                    <div class="mt-5">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="Usuario" placeholder="Introduce oficina" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" formControlName="Email"  placeholder="Introduce el email de la oficina" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="Password" 
                                placeholder="Introduce una contraseña" required>
                        </div>
                        <button [disabled]="miFormulario.invalid || loading" type="submit" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Enviar
                        </button>
                        <div *ngIf="msg" class="alert alert-danger mt-3 mb-0">{{this.msg}}</div>
                        <div *ngIf="msgok" class="alert alert-success mt-3 mb-0">{{this.msgok}}</div>
                    </div>
                </div>
            </form>

            <div class="form-group m-b-0">
                <div class="col-sm-12 text-center">
                    Tenés usuario?
                    <a class="waves-effect waves-dark" (click)="login()" aria-expanded="false">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>